# ============================================================
# EventKraft — Environment Variables
# ============================================================

# Server
PORT=3000
NODE_ENV=development

# Session
SESSION_SECRET=d5b0ded99b92e84362be8620ffeb489b28fb64c6f938d598ef3c3c255ce0c2e8

# PostgreSQL Database (Supabase)
DATABASE_URL=postgresql://postgres.mfxqpbmjbfeelqhvtdtu:eventkraft1020@aws-1-ap-south-1.pooler.supabase.com:5432/postgres

# Cloudinary (Image Uploads)
CLOUDINARY_CLOUD_NAME=dxwhkecwz
CLOUDINARY_API_KEY=315542146217256
CLOUDINARY_API_SECRET=Y3Kk0ARvfbPHn2vIBazFipDEdh8

# Google OAuth (fill in from Google Cloud Console)
GOOGLE_CLIENT_ID=389660480450-utt80vjfp0ge1ao7gltkc4k5qpam2347.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# Email SMTP (fill in for email verification)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=suchittrypython@gmail.com
SMTP_PASS=ysmb omvw rsgt igdv
SMTP_FROM=EventKraft <noreply@eventkraft.com>
